<header>
  <div class="text-center">
    <h1>Budget Tracker</h1>
  </div><br>
  <nav>
    <ul >
      <li>
        <%= link_to "LOG IN", new_user_session_path, class: "link btn w-100 color1" %>
      </li>
      <li>
        <%= link_to "SIGN UP", new_user_registration_path, class: "link btn w-100" %>
      </li>
    </ul>
  </nav>
</header>