<header>
  <div>
    <h1>Budget Now</h1>
  </div>
  <nav>
    <ul>
      <li>
        <%= link_to "LOG IN", new_user_session_path %>
      </li>
      <li>
        <%= link_to "SIGN UP", new_user_registration_path %>
      </li>
    </ul>
  </nav>
</header>