<section>
  <header>
    <nav>
      <ul class='d-flex justify-content-between p-2 color1 m-0'>
        <li>
        <%= link_to categories_path do %>
          <i class="fa fa-arrow-left color1"></i>
          <% end %>
        </li>
        <li>
          ADD TRANSACTION
        </li>
        <li>
          <input type="submit" value='Add' form='form' class='submit color1'>
        </li>
      </ul>
    </nav>
  </header>
  
   <%= render partial: "form", locals: { deal: @deal, categories: @categories } %>
</section>