
<section>
  <header>
    <nav>
      <ul>
        <li>
        <%= link_to categories_path do %>
          <i class="fa fa-arrow-left"></i>
          <% end %>
        </li>
        <li>
          ADD TRANSACTION
        </li>
        <li>
          <input type="submit" value='Add' form='form' class='submit'>
        </li>
      </ul>
    </nav>
  </header>
  
   <%= render partial: "form", locals: { deal: @deal, categories: @categories } %>
</section>