@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova');

* {
    font-family: 'proxima-nova', sans-serif;
    color: var(--grey-1);
    margin: 0;
    padding: 0;
  }

ul {
	list-style: none;
}

.link {
    text-decoration: none;
}

.color1{
    background-color: #3778c2;
    color: white;
    border: none;
}